extends layout

block content
    .container
        .jumbotron
            .container
                h1 How May I help you?
                p Mlkshk Blue Bottle flannel, food truck sustainable pop-up VHS distillery. Photo booth direct trade pickled plaid.
                a.btn.btn-primary.btn-lg(href='#') Learn more &raquo;
        .container
            .row
                .col-md-4
                    h2 About Us
                    p art party 8-bit quinoa pour-over fanny pack
                    a.btn.btn-default(href='#') View Details
                .col-md-4
                    h2 Services
                    p art party 8-bit quinoa pour-over fanny pack
                    a.btn.btn-default(href='#') View Details
                .col-md-4
                    h2 Get in touch
                    p art party 8-bit quinoa pour-over fanny pack
                    a.btn.btn-default(href='#') View Details
